body {
background-color: #292929;
position: absolute;
top: 35%;
transform: translate(100%, -50%);
padding: 32px;
}

h1 {
font-size: 65px;
text-align: center;
color:#B8F086;
font-family: cambria;
}

h3 {
font-size: 28px;
text-align: center;
color:white;
font-family: cambria;
}

h4 {
ont-size: 20px;
text-align: center;
color:white;
font-family: cambria;
}

textarea {
height: 230px;
width: 440px;
border-radius: 4px;
font-family: sans-serif;
background-color: #EAFFD7;
color: #292929;
resize: none;
}

textarea::placeholder {
color: #686868;
}

textarea:focus::placeholder {
color: transparent;
}

.btn1 {
text-align: center;
}

button {
height: 3.5em;
width: 7em;
border-radius: 2em;
background: #B8F086;
font-size: 15px;
color: #2A2A2A;
font-family: sans-serif;
font-size: 15px;
text-align: center;
}

button:hover {
background-color:#ECFCDD;
}

.results {
color: white;
text-align: center;
}